extends layout
block content
  script(src="/login/js/login.js" crossorigin="anonymous")
  title Login
  div(class="login-container")
    img(src="/login/images/anu.png", style="height:300px;width: 300px;" class="eye")
    input(type="hidden" id="_csrf" name="_csrf" value=token)
    input(type="email" required id="email" style="width:400px;" name="email" placeholder="Email")
    input(type="password" required id="password" name="password" style="width:400px;" placeholder="Password")
    button(class="btn btn-primary" onclick="login()" style="margin:0 auto;display:flex;justify-content:center;width:200px;" type="submit" form="login") Login

        